<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/leona-tabs" class="rojo" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <ion-title class="dorado" style="text-align: center;"><img src="assets/header_logo.svg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default title -->
  <ion-toolbar>
    <ion-title style="text-align: center; margin-top: 10px;" class="dorado" size="large">
      <h1>Beca Leona Vicario</h1>
    </ion-title>
  </ion-toolbar>

  <div class="ion-padding">
    <ion-title size="small" style="text-align: center;" class="rojo">
      <h3>Segunda Renovación 2022</h3>
    </ion-title>
    <p style="text-align: justify;">La renovación es un requisito de permanencia en el programa, es responsabilidad de
      {{tutor}} la captura de los datos bajo protesta de decir verdad.
      La información y documentos cargados a la plataforma estan sujetos a revisión. Si se detecta falsedad en lo
      declarado, en la documentación, o esta no cumple
      con las características solicitadas, se procederá a la baja inmediata en el programa.
    </p>
    <p>Conteste con calma y verifique su información.</p>
  </div>

  <ion-text class="dorado" style="text-align: center;">
    <h1>1. Datos Generales</h1>
    <h2>1.1 Beneficiario(a)</h2>
  </ion-text>


  <form action="/" method="post">
    <ion-list style="text-align: center;">
      <ion-item *ngFor="let user of usuarios">
        <ion-label>
          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Beneficiario:
            </ion-label>
            <h2>{{user.nombre}} {{user.apellido_paterno}} {{user.apellido_materno}}</h2>
          </ion-item>


          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">IDP:</ion-label>
            <h2>{{user.idp}}</h2><br>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">CURP:
            </ion-label>
            <h2 id="curp">{{user.curp}}</h2> <br>
          </ion-item>

          <!-- <ion-item>
          <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Tutor:</ion-label>
          <h2>{{tutor}}</h2>
        </ion-item> -->

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Domicilio:
            </ion-label>
            <h2>{{dir1}}</h2> <br>
            <h2>{{dir2}}</h2>
          </ion-item>

        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text class="dorado" style="text-align: center;">
      <h2>1.2 Padre, Madre o Tutor</h2>
    </ion-text>

    <ion-list style="text-align: center;">
      <ion-item *ngFor="let user of usuarios">
        <ion-label>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">CURP:
            </ion-label>
            <h2>{{user.curp_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Nombre:
            </ion-label>
            <h2>{{user.nombre_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Apellido
              Paterno:</ion-label>
            <h2>{{user.apellido_paterno_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Apellido
              Materno:</ion-label>
            <h2>{{user.apellido_materno_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Fecha de
              nacimiento:</ion-label>
            <h2> {{user.fecha_nacimiento_tutor}}</h2>
          </ion-item>

        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text class="dorado" style="text-align: center;">
      <h1>2. Datos de contacto:</h1>
    </ion-text>

    <form>
      <ion-item>
        <ion-label>Tipo de vialidad: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona">
          <ion-select-option value="ANDADOR">Andador</ion-select-option>
          <ion-select-option value="ANDEN">Anden</ion-select-option>
          <ion-select-option value="AUTOPISTA">Autopista</ion-select-option>
          <ion-select-option value="AVENIDA">Avenida</ion-select-option>
          <ion-select-option value="BOULEVARD">Boulevard</ion-select-option>
          <ion-select-option value="CALLE">Calle</ion-select-option>
          <ion-select-option value="CALLEJON">Callejon</ion-select-option>
          <ion-select-option value="CALZADA">Calzada</ion-select-option>
          <ion-select-option value="CAMINO">Camino</ion-select-option>
          <ion-select-option value="CANAL">Canal</ion-select-option>
          <ion-select-option value="CARRETERA">Carretera</ion-select-option>
          <ion-select-option value="CERRADA">Cerrada</ion-select-option>
          <ion-select-option value="CIRCUITO">Circuito</ion-select-option>
          <ion-select-option value="DIAGONAL">Diagonal</ion-select-option>
          <ion-select-option value="EJE">Eje</ion-select-option>
          <ion-select-option value="MIRADOR">Mirador</ion-select-option>
          <ion-select-option value="PRIVADA">Privada</ion-select-option>
          <ion-select-option value="PROLONGACION">Prolongacion</ion-select-option>
          <ion-select-option value="RETORNO">Retorno</ion-select-option>
          <ion-select-option value="RINCONADA">Rinconada</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Nombre vialidad:</ion-label>
        <ion-input type="text" required id="nombre_vialidad"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">No. Ext:</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">No. Int:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de asentamiento: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona">
          <ion-select-option value="BARRIO">Barrio</ion-select-option>
          <ion-select-option value="CAMPAMENTO">Campamento</ion-select-option>
          <ion-select-option value="COLONIA">Colonia</ion-select-option>
          <ion-select-option value="CONJUNTO">Conjunto Habitacional</ion-select-option>
          <ion-select-option value="EJIDO">Ejido</ion-select-option>
          <ion-select-option value="FRACCIONAMIENTO">Fraccionamiento</ion-select-option>
          <ion-select-option value="PUEBLO">Pueblo</ion-select-option>
          <ion-select-option value="RESIDENCIAL">Residencial</ion-select-option>
          <ion-select-option value="UNIDAD">Unidad HAbitacional</ion-select-option>
          <ion-select-option value="AMPLIACIÓN">Ampliación</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Nombre de asentamiento:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Entre calle:</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Y calle:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Correo electronico:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">C.P:</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Tel. Casa:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Tel. Cel:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Tel. Recados 1:</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Tel. Recados 2:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
    </form>

    <ion-text class="dorado" style="text-align: center;">
      <h1>3. Datos escolares:</h1>
    </ion-text>

    <form>
      <ion-item lines="full">
        <ion-label position="floating">Nombre de la escuela:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nivel: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona">
          <ion-select-option value="P">PREESCOLAR</ion-select-option>
          <ion-select-option value="P">PRIMARIA</ion-select-option>
          <ion-select-option value="S">SECUNDARIA</ion-select-option>
          <ion-select-option value="BP">BACHILLERATO/PREPARATORIA</ion-select-option>
          <ion-select-option value="BP">CAM</ion-select-option>
          <ion-select-option value="BP">NO ESTUDIA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Grado°:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de escuela: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona">
          <ion-select-option value="P">PÚBLICA</ion-select-option>
          <ion-select-option value="P">PRIVADA</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Clave de escuela:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Teléfono:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              La niña, niño o adolescente ¿realiza actividades extraescolares?:
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              La niña, niño o adolescente ¿recibe "Mi Beca Para Empezar"?
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </form>
    <ion-text class="dorado" style="text-align: center;">
      <h1>4. Declaración de ingresos</h1>
      <h5>(Sin contar los apoyos gubernamentales que reciba algún miembro del núcleo familiar)</h5>
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Total de ingreso económico familiar mensual:</ion-label>
      <ion-input type="number" required placeholder="$"></ion-input>
    </ion-item>

    <ion-text class="dorado" style="text-align: center;">
      <h3>5. Las siguientes preguntas tienen el objetivo de diseñar políticas públicas de atención a la población
        beneficiaria.
        Le pedimos contestar con sinceridad
      </h3>
    </ion-text>

    <form>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿La beneficiaria tiene o ha tenido algún embarazo?
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-radio-group (click)="abrirTutorial()">
        <ion-list-header>
          <ion-label>
            ¿La o el beneficiario ha consumido o es consumidor de alguna sustancia psicoactiva?
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>SI</ion-label>
          <ion-radio value="SI"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>NO</ion-label>
          <ion-radio value="NO"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item id="tutorial" hidden="true">
        <ion-label>¿Cúal?: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona">
          <ion-select-option value="P">TABACO</ion-select-option>
          <ion-select-option value="P">ALCOHOL</ion-select-option>
          <ion-select-option value="S">MARIGUANA</ion-select-option>
          <ion-select-option value="BP">COCAINA</ion-select-option>
          <ion-select-option value="BP">HEROINA</ion-select-option>
          <ion-select-option value="BP">ESTIMULANTES DE TIPO ANFETAMINICO</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list-header>
        <ion-label>¿A qué Centro DIF le gustaría asistir para realizar actividades culturales y recreativas?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Alcaldía" (click)="abrirCentro1()">
          <ion-select-option id="AO">Álvaro Obregón</ion-select-option>
          <ion-select-option id="AZ">Azcapotzalco</ion-select-option>
          <ion-select-option id="BJ">Benito Juárez</ion-select-option>
          <ion-select-option id="CY">Coyoacán</ion-select-option>
          <ion-select-option id="CJ">Cuajimalpa</ion-select-option>
          <ion-select-option id="CH">Cuauhtémoc</ion-select-option>
          <ion-select-option id="GAM">Gustavo A. Madero</ion-select-option>
          <ion-select-option id="IZ">Iztacalco</ion-select-option>
          <ion-select-option id="IZT">Iztapalapa</ion-select-option>
          <ion-select-option id="MC">La Magdalena Contreras</ion-select-option>
          <ion-select-option id="MH">Miguel Hidalgo</ion-select-option>
          <ion-select-option id="MA">Milpa Alta</ion-select-option>
          <ion-select-option id="TL">Tlalpan</ion-select-option>
          <ion-select-option id="VC">Venustiano Carranza</ion-select-option>
          <ion-select-option id="XC">Xochimilco</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item id="AO" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">Área Operativa Poniente</ion-select-option>
          <ion-select-option value="P">C.A.D.I. 17</ion-select-option>
          <ion-select-option value="S">C.D.C. Jalalpa</ion-select-option>
          <ion-select-option value="BP">C.F. 18 Leandro Valle</ion-select-option>
          <ion-select-option value="BP">C.F. 24 León Guzman</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="AZ" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.B.S.U. San Juan Tlihuaca</ion-select-option>
          <ion-select-option value="P">C.D.C. Pacto Federal</ion-select-option>
          <ion-select-option value="S">C.F. 01 Jose María Mata</ion-select-option>
          <ion-select-option value="BP">C.F. 03 Miguel Lerdo de Tejada</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="BJ" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">Centro Recreativo Niños Héroes</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="CY" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.B.S.U. Ajusco</ion-select-option>
          <ion-select-option value="P">C.D.C. Adolfo Ruiz Cortines</ion-select-option>
          <ion-select-option value="S">C.D.C. Familia Juárez Maza</ion-select-option>
          <ion-select-option value="BP">C.D.C. Francisco I. Madero</ion-select-option>
          <ion-select-option value="BP">C.F. 17 Jose María Díaz Ordaz</ion-select-option>
          <ion-select-option value="BP">C.F. 20 Gral. Manuel González Ortega</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="CJ" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.A.D.I. 15</ion-select-option>
          <ion-select-option value="P">C.A.D.I. 19</ion-select-option>
          <ion-select-option value="S">C.A.D.I. 20</ion-select-option>
          <ion-select-option value="BP">C.D.C. Cuauhtémoc</ion-select-option>
          <ion-select-option value="BP">C.D.C. República Española</ion-select-option>
          <ion-select-option value="BP">Centro de día Núm. 1</ion-select-option>
          <ion-select-option value="BP">Centro de día Núm. 2</ion-select-option>
          <ion-select-option value="BP">Comedor Familiar Núm. 1</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="CH" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">Área Operativa Norte</ion-select-option>
          <ion-select-option value="P">C.B.S.U. Cuautepec</ion-select-option>
          <ion-select-option value="S">C.B.S.U. Nueva Atzacoalco</ion-select-option>
          <ion-select-option value="BP">C.B.S.U. Zacatenco</ion-select-option>
          <ion-select-option value="BP">C.D.C. Álvaro Obregón</ion-select-option>
          <ion-select-option value="BP">C.D.C. Lázaro Cárdenas</ion-select-option>
          <ion-select-option value="BP">C.F. 08 Niño Jose Luis Ordaz Lopez</ion-select-option>
          <ion-select-option value="BP">C.F. 09 Francisco Zarco</ion-select-option>
          <ion-select-option value="BP">C.F. 10 Santos Degollado</ion-select-option>
          <ion-select-option value="BP">C.F. 11 Miguel Ramos Arizpe</ion-select-option>
          <ion-select-option value="BP">C.F. 12 Dr. Jose María Luis Mora</ion-select-option>
          <ion-select-option value="BP">C.F. 13 Matías Romero</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="GAM" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.B.S.U. Benito Juárez</ion-select-option>
          <ion-select-option value="P">C.D.C. Felipe Carrillo Puerto</ion-select-option>
          <ion-select-option value="S">C.D.C. Ricardo Flores Magón</ion-select-option>
          <ion-select-option value="BP">C.D.C. Santa Anita</ion-select-option>
          <ion-select-option value="BP">C.F. 14 Gral. Juan N. Álvarez</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="IZ" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">Albergue Central de Abastos</ion-select-option>
          <ion-select-option value="P">Área Operativa Oriente</ion-select-option>
          <ion-select-option value="S">C.B.S.U. Juan Escutia</ion-select-option>
          <ion-select-option value="BP">C.D.C. Constitución de 1917</ion-select-option>
          <ion-select-option value="BP">C.D.C. Ignacio Zaragoza</ion-select-option>
          <ion-select-option value="BP">C.D.C. Iztapalapa Nuevo</ion-select-option>
          <ion-select-option value="BP">C.D.C. Josefa Ortiz de Domínguez</ion-select-option>
          <ion-select-option value="BP">C.D.C. Vicente Guerrero</ion-select-option>
          <ion-select-option value="BP">C.E.C.A.P.I.T.</ion-select-option>
          <ion-select-option value="BP">C.F. 06 Ignacio Manuel Altamirano</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="IZT" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.B.S.U. Argentina</ion-select-option>
          <ion-select-option value="P">C.D.C. XLIX Legislatura</ion-select-option>
          <ion-select-option value="S">C.F. 07 Melchor Ocampo</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="MH" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.D.C. Milpa Alta</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="MA" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.D.C. Quetzalcóatl</ion-select-option>
          <ion-select-option value="P">C.D.C. Tláhuac</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="TL" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">Área Operativa Sur</ion-select-option>
          <ion-select-option value="P">C.D.C. Ajusco Tlalpan</ion-select-option>
          <ion-select-option value="S">C.D.C. Miguel Hidalgo</ion-select-option>
          <ion-select-option value="BP">C.F. 19 Juan A. Mateos</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="VC" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.A.D.I. 31</ion-select-option>
          <ion-select-option value="P">C.D.C. Adolfo López Mateos</ion-select-option>
          <ion-select-option value="S">C.D.C. Rosario Castellanos</ion-select-option>
          <ion-select-option value="BP">C.D.C. Venustiano Carranza</ion-select-option>
          <ion-select-option value="BP">C.F. 02 General Ignacio Zaragoza</ion-select-option>
          <ion-select-option value="BP">C.F. 04 Ignacio Ramirez</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item id="XC" hidden="true">
        <ion-select interface="action-sheet" placeholder="Centro">
          <ion-select-option value="P">C.D.C. Xochimilco</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </form>


  <div style="text-align: center;">
    <ion-button  onsubmit="validarInfo()" type="button" id="button" class="btn-form">
      Guardar
    </ion-button>
  </div>

</ion-content>