<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/leona-tabs" class="rojo" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <ion-title class="dorado" style="text-align: center;"><img src="assets/header_logo.png" height="45"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default title -->
  <ion-toolbar>
    <ion-title style="text-align: center; margin-top: 10px;" class="dorado" size="large">
      <h1>Beca Leona Vicario</h1>
    </ion-title>
  </ion-toolbar>

  <div class="ion-padding">
    <ion-title size="small" style="text-align: center;" class="rojo">
      <h3>Segunda Renovación 2022</h3>
    </ion-title>
    <p style="text-align: justify;">La renovación es un requisito de permanencia en el programa, es responsabilidad de
      {{tutor}} la captura de los datos bajo protesta de decir verdad.
      La información y documentos cargados a la plataforma estan sujetos a revisión. Si se detecta falsedad en lo
      declarado, en la documentación, o esta no cumple
      con las características solicitadas, se procederá a la baja inmediata en el programa.
    </p>
    <p>Conteste con calma y verifique su información.</p>
  </div>



  <form #formulario="ngForm" (ngSubmit)="onSubmit()">

    <div class="ion-padding">
      <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Fecha:
        <p>{{today | date}}</p>
      </ion-label>
      <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Hora:
        <p>{{today | date:'shortTime'}}</p>
      </ion-label>
    </div>
    <ion-text class="dorado" style="text-align: center;">
      <h1>1. Datos Generales</h1>
      <h2>1.1 Beneficiario(a)</h2>
    </ion-text>

    <ion-list style="text-align: center;">
      <ion-item *ngFor="let user of usuarios">
        <ion-label>
          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Beneficiario:
            </ion-label>
            <h2>{{user.nombre}} {{user.apellido_paterno}} {{user.apellido_materno}}</h2>
          </ion-item>


          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">IDP:</ion-label>
            <h2>{{user.idp}}</h2><br>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">CURP:
            </ion-label>
            <h2 id="curp">{{user.curp}}</h2> <br>
          </ion-item>

          <!-- <ion-item>
          <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Tutor:</ion-label>
          <h2>{{tutor}}</h2>
        </ion-item> -->

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Domicilio:
            </ion-label>
            <h2>{{dir1}}</h2> <br>
            <h2>{{dir2}}</h2>
          </ion-item>

        </ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-text class="dorado" style="text-align: center;">
      <h2>1.2 Padre, Madre o Tutor</h2>
    </ion-text>

    <ion-list style="text-align: center;">
      <ion-item *ngFor="let user of usuarios">
        <ion-label>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">CURP:
            </ion-label>
            <h2>{{user.curp_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Nombre:
            </ion-label>
            <h2>{{user.nombre_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Apellido
              Paterno:</ion-label>
            <h2>{{user.apellido_paterno_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Apellido
              Materno:</ion-label>
            <h2>{{user.apellido_materno_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Fecha de
              nacimiento:</ion-label>
            <h2> {{user.fecha_nacimiento_tutor}}</h2>
          </ion-item>

          <ion-item>
            <ion-label class="ion-padding" position="stacked" style="color:#99171e; font-weight: 600; ">Parentesco:</ion-label>
            <ion-select interface="action-sheet" required name="vialidad" placeholder="Selecciona" [(ngModel)]="parentesco"
            [ngModelOptions]="{standalone: true}">
            <ion-select-option value="1">Madre</ion-select-option>
            <ion-select-option value="2">Padre</ion-select-option>
            <ion-select-option value="3">Hermana(o)</ion-select-option>
            <ion-select-option value="4">Tía(o) materno</ion-select-option>
            <ion-select-option value="5">Tía(o) paterno</ion-select-option>
            <ion-select-option value="6">Abuela(o) materno</ion-select-option>
            <ion-select-option value="7">Abuela(o) paterno</ion-select-option>
            <ion-select-option value="8">Madrastra</ion-select-option>
            <ion-select-option value="9">Padrastro</ion-select-option>
            <ion-select-option value="10">Tutor Legal</ion-select-option>
          </ion-select>
          </ion-item>

        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text class="dorado" style="text-align: center;">
      <h1>2. Datos de contacto:</h1>
    </ion-text>

    <div>
      <ion-item>
        <ion-label position="stacked" style="color:#99171e; font-weight: 600; " >Tipo de vialidad: </ion-label>
        <ion-select interface="action-sheet" name="vialidad" placeholder="Selecciona" [(ngModel)]="tipo_vialidad"
          [ngModelOptions]="{standalone: true}">
          <ion-select-option value="1">Andador</ion-select-option>
          <ion-select-option value="2">Anden</ion-select-option>
          <ion-select-option value="3">Autopista</ion-select-option>
          <ion-select-option value="4">Avenida</ion-select-option>
          <ion-select-option value="6">Boulevard</ion-select-option>
          <ion-select-option value="8">Calle</ion-select-option>
          <ion-select-option value="9">Callejon</ion-select-option>
          <ion-select-option value="10">Calzada</ion-select-option>
          <ion-select-option value="11">Camino</ion-select-option>
          <ion-select-option value="12">Canal</ion-select-option>
          <ion-select-option value="13">Carretera</ion-select-option>
          <ion-select-option value="14">Cerrada</ion-select-option>
          <ion-select-option value="16">Circuito</ion-select-option>
          <ion-select-option value="17">Diagonal</ion-select-option>
          <ion-select-option value="18">Eje</ion-select-option>
          <ion-select-option value="22">Mirador</ion-select-option>
          <ion-select-option value="29">Privada</ion-select-option>
          <ion-select-option value="30">Prolongacion</ion-select-option>
          <ion-select-option value="32">Retorno</ion-select-option>
          <ion-select-option value="33">Rinconada</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Nombre vialidad:</ion-label>
        <ion-input required type="text" name="vialidad" required [(ngModel)]="nombre_vialidad"
          [ngModelOptions]="{standalone: true}" (ngModelChange)="nombre_vialidad = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">No. Ext:</ion-label>
        <ion-input required type="number" name="ext" [(ngModel)]="noext" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">No. Int:</ion-label>
        <ion-input required type="number" name="int" [(ngModel)]="noint" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" style="color:#99171e; font-weight: 600; ">Tipo de asentamiento: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="tipo_asentamiento"
          [ngModelOptions]="{standalone:true}">
          <ion-select-option value="BARRIO">Barrio</ion-select-option>
          <ion-select-option value="CAMPAMENTO">Campamento</ion-select-option>
          <ion-select-option value="COLONIA">Colonia</ion-select-option>
          <ion-select-option value="CONJUNTO">Conjunto Habitacional</ion-select-option>
          <ion-select-option value="EJIDO">Ejido</ion-select-option>
          <ion-select-option value="FRACCIONAMIENTO">Fraccionamiento</ion-select-option>
          <ion-select-option value="PUEBLO">Pueblo</ion-select-option>
          <ion-select-option value="RESIDENCIAL">Residencial</ion-select-option>
          <ion-select-option value="UNIDAD">Unidad HAbitacional</ion-select-option>
          <ion-select-option value="AMPLIACIÓN">Ampliación</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Nombre de asentamiento:</ion-label>
        <ion-input type="text" required [(ngModel)]="nombre_asentamiento" [ngModelOptions]="{standalone:true}" (ngModelChange)="nombre_asentamiento = $event.toLocaleUpperCase()">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Entre calle:</ion-label>
        <ion-input type="text" required [(ngModel)]="ecalle" [ngModelOptions]="{standalone:true}" (ngModelChange)=" ecalle = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Y calle:</ion-label>
        <ion-input type="text" required [(ngModel)]="ycalle" [ngModelOptions]="{standalone:true}" (ngModelChange)=" ycalle = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Correo electronico:</ion-label>
        <ion-input type="email" required [(ngModel)]="correo" [ngModelOptions]="{standalone:true}" (ngModelChange)="correo = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">C.P:</ion-label>
        <ion-input type="number" required [(ngModel)]="cp" [ngModelOptions]="{standalone:true}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="color:#99171e; font-weight: 600; ">Alcaldía:</ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="alcaldia"
          [ngModelOptions]="{standalone:true}">
          <ion-select-option value="10">Álvaro Obregón</ion-select-option>
          <ion-select-option value="2">Azcapotzalco</ion-select-option>
          <ion-select-option value="14">Benito Juárez</ion-select-option>
          <ion-select-option value="3">Coyoacán</ion-select-option>
          <ion-select-option value="4">Cuajimalpa</ion-select-option>
          <ion-select-option value="15">Cuauhtémoc</ion-select-option>
          <ion-select-option value="5">Gustavo A. Madero</ion-select-option>
          <ion-select-option value="6">Iztacalco</ion-select-option>
          <ion-select-option value="7">Iztapalapa</ion-select-option>
          <ion-select-option value="8">La Magdalena Contreras</ion-select-option>
          <ion-select-option value="16">Miguel Hidalgo</ion-select-option>
          <ion-select-option value="9">Milpa Alta</ion-select-option>
          <ion-select-option value="12">Tlalpan</ion-select-option>
          <ion-select-option value="17">Venustiano Carranza</ion-select-option>
          <ion-select-option value="13">Xochimilco</ion-select-option>
            <ion-select-option value="998">Estado de México</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Tel. Casa:</ion-label>
        <ion-input type="tel" required [(ngModel)]="tel_casa" [ngModelOptions]="{standalone:true}"
          maxlength="10"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Tel. Cel:</ion-label>
        <ion-input type="tel" required [(ngModel)]="tel_cel" [ngModelOptions]="{standalone:true}" maxlength="10">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Tel. Recados 1:</ion-label>
        <ion-input type="tel" required [(ngModel)]="tel_recados1" [ngModelOptions]="{standalone:true}"
          maxlength="10"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Tel. Recados 2:</ion-label>
        <ion-input type="tel" required [(ngModel)]="tel_rec2" [ngModelOptions]="{standalone:true}"
          maxlength="10"></ion-input>
      </ion-item>
    </div>

    <br><br>
    <ion-text class="dorado" style="text-align: center;">
      <h1>3. Datos escolares:</h1>
    </ion-text>

    <div>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Nombre de la escuela:</ion-label>
        <ion-input type="text" required [(ngModel)]="nb_escuela" [ngModelOptions]="{standalone:true}" (ngModelChange)="nb_escuela = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" style="color:#99171e; font-weight: 600; ">Nivel: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="id_escolaridad"
          [ngModelOptions]="{standalone:true}">
          <ion-select-option value="2">PREESCOLAR</ion-select-option>
          <ion-select-option value="3">PRIMARIA</ion-select-option>
          <ion-select-option value="5">SECUNDARIA</ion-select-option>
          <ion-select-option value="7">BACHILLERATO/PREPARATORIA</ion-select-option>
          <ion-select-option value="15">CAM</ion-select-option>
          <ion-select-option value="1">NO ESTUDIA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Grado°:</ion-label>
        <ion-input type="number" required [(ngModel)]="grado" [ngModelOptions]="{standalone:true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" style="color:#99171e; font-weight: 600; ">Tipo de escuela: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="tipo_escuela"
          [ngModelOptions]="{standalone:true}">
          <ion-select-option value="Publica">PÚBLICA</ion-select-option>
          <ion-select-option value="Privada">PRIVADA</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Clave de escuela:</ion-label>
        <ion-input type="text" required [(ngModel)]="clave_escuela" [ngModelOptions]="{standalone:true}">
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Teléfono:</ion-label>
        <ion-input type="tel" required [(ngModel)]="tel_escuela" [ngModelOptions]="{standalone:true}"
          maxlength="10"></ion-input>
      </ion-item>

      <ion-list>
        <ion-radio-group [(ngModel)]="actividad" [ngModelOptions]="{standalone:true}" >
          <ion-list-header>
            <ion-label style="color:#99171e; font-weight: 600; ">
              La niña, niño o adolescente ¿realiza actividades extraescolares?:
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group [(ngModel)]="beca" [ngModelOptions]="{standalone:true}">
          <ion-list-header>
            <ion-label style="color:#99171e; font-weight: 600; ">
              La niña, niño o adolescente ¿recibe "Mi Beca Para Empezar"?
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <br><br>
    <ion-text class="dorado" style="text-align: center;">
      <h1>4. Declaración de ingresos</h1>
      <h5>(Sin contar los apoyos gubernamentales que reciba algún miembro del núcleo familiar)</h5>
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating" position="stacked" style="color:#99171e; font-weight: 600; ">Total de ingreso económico familiar mensual:</ion-label>
      <ion-input type="number" required placeholder="$        (Sin signos de puntuación)" [(ngModel)]="ingresos"
        [ngModelOptions]="{standalone:true}"></ion-input>
    </ion-item>
    <br><br><br>
    <ion-text class="dorado" style="text-align: center;">
      <h3>5. Las siguientes preguntas tienen el objetivo de diseñar políticas públicas de atención a la población
        beneficiaria. Le pedimos contestar con sinceridad</h3>
    </ion-text>

    
      <ion-list>
        <ion-radio-group [(ngModel)]="embarazo" [ngModelOptions]="{standalone:true}">
          <ion-list-header>
            <ion-label style="color:#99171e; font-weight: 600; ">
              ¿La beneficiaria tiene o ha tenido algún embarazo?
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="SI"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="NO"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-radio-group (click)="abrirTutorial()" [(ngModel)]="sustancia" [ngModelOptions]="{standalone:true}">
        <ion-list-header>
          <ion-label style="color:#99171e; font-weight: 600; ">
            ¿La o el beneficiario ha consumido o es consumidor de alguna sustancia psicoactiva?
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>SI</ion-label>
          <ion-radio value="SI"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>NO</ion-label>
          <ion-radio value="NO"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item id="tutorial" hidden="true">
        <ion-label style="color:#99171e; font-weight: 600; ">¿Cúal?: </ion-label>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="qsustancia"
          [ngModelOptions]="{standalone:true}">
          <ion-select-option value="TB">TABACO</ion-select-option>
          <ion-select-option value="AH">ALCOHOL</ion-select-option>
          <ion-select-option value="MG">MARIGUANA</ion-select-option>
          <ion-select-option value="CA">COCAINA</ion-select-option>
          <ion-select-option value="HE">HEROINA</ion-select-option>
          <ion-select-option value="AN">ESTIMULANTES DE TIPO ANFETAMINICO</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list-header>
        <ion-label style="color:#99171e; font-weight: 600; ">¿A qué Centro DIF le gustaría asistir para realizar actividades culturales y recreativas?</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona" [(ngModel)]="centros" [ngModelOptions]="{standalone:true}">
          <ion-select-option value="58">Alcaldia: ALVARO OBREGON - C.F. 18 LEANDRO VALLE</ion-select-option>
          <ion-select-option value="64">Alcaldia: ALVARO OBREGON - C.D.C. JALALPA</ion-select-option>
          <ion-select-option value="32">Alcaldia: AZCAPOTZALCO - C.D.C. PACTO FEDERAL</ion-select-option>
          <ion-select-option value="15">Alcaldia: AZCAPOTZALCO - C.B.S.U. SAN JUAN TLIHUACA</ion-select-option>
          <ion-select-option value="62">Alcaldia: BENITO JUAREZ - CENTRO RECREATIVO NIÑOS HEROES</ion-select-option>
          <ion-select-option value="60">Alcaldia: COYOACAN - C.F. 20 GRAL. MANUEL GONZALEZ ORTEGA</ion-select-option>
          <ion-select-option value="57">Alcaldia: COYOACAN - C.F. 17 JOSE MARIA DIAZ ORDAZ</ion-select-option>
          <ion-select-option value="22">Alcaldia: COYOACAN - C.D.C. FAMILIA JUAREZ MAZA</ion-select-option>
          <ion-select-option value="24">Alcaldia: COYOACAN - C.D.C. Francisco I. Madero</ion-select-option>
          <ion-select-option value="9">Alcaldia: COYOACAN - C.B.S.U. AJUSCO</ion-select-option>
          <ion-select-option value="27">Alcaldia: CUAJIMALPA DE MORELOS - C.D.C. JOSE MARIA MORELOS Y PAVON</ion-select-option>
          <ion-select-option value="34">Alcaldia: CUAUHTEMOC - C.D.C. REPUBLICA ESPAÑOLA</ion-select-option>
          <ion-select-option value="51">Alcaldia: GUSTAVO A. MADERO - C.F. 09 FRANCISCO ZARCO</ion-select-option>
          <ion-select-option value="53">Alcaldia: GUSTAVO A. MADERO - C.F. 11 MIGUEL RAMOS ARIZPE</ion-select-option>
          <ion-select-option value="29">Alcaldia: GUSTAVO A. MADERO - C.D.C. LAZARO CARDENAS</ion-select-option>
          <ion-select-option value="14">Alcaldia: GUSTAVO A. MADERO - C.B.S.U. NUEVA ATZACOALCO</ion-select-option>
          <ion-select-option value="54">Alcaldia: GUSTAVO A. MADERO - C.F. 12 DR. JOSE MARIA LUIS MORA</ion-select-option>
          <ion-select-option value="12">Alcaldia: GUSTAVO A. MADERO - C.B.S.U. CUAUTEPEC</ion-select-option>
          <ion-select-option value="16">Alcaldia: GUSTAVO A. MADERO - C.B.S.U. ZACATENCO</ion-select-option>
          <ion-select-option value="55">Alcaldia: GUSTAVO A. MADERO - C.F. 13 MATIAS ROMERO</ion-select-option>
          <ion-select-option value="50">Alcaldia: GUSTAVO A. MADERO - C.F. 08 NIÑO JOSE LUIS ORDAZ LOPEZ</ion-select-option>
          <ion-select-option value="20">Alcaldia: GUSTAVO A. MADERO - C.D.C. ALVARO OBREGON</ion-select-option>
          <ion-select-option value="11">Alcaldia: IZTACALCO - C.B.S.U. Benito Juárez</ion-select-option>
          <ion-select-option value="37">Alcaldia: IZTACALCO - C.D.C. SANTA ANITA</ion-select-option>
          <ion-select-option value="56">Alcaldia: IZTACALCO - C.F. 14 GRAL. JUAN N. ALVAREZ</ion-select-option>
          <ion-select-option value="23">Alcaldia: IZTACALCO - C.D.C. FELIPE CARRILLO PUERTO</ion-select-option>
          <ion-select-option value="35">Alcaldia: IZTACALCO - C.D.C. RICARDO FLORES MAGON</ion-select-option>
          <ion-select-option value="48">Alcaldia: IZTAPALAPA - C.F. 06 IGNACIO MANUEL ALTAMIRANO</ion-select-option>
          <ion-select-option value="28">Alcaldia: IZTAPALAPA - C.D.C. JOSEFA ORTIZ DE DOMINGUEZ</ion-select-option>
          <ion-select-option value="26">Alcaldia: IZTAPALAPA - C.D.C. IZTAPALAPA</ion-select-option>
          <ion-select-option value="40">Alcaldia: IZTAPALAPA - C.D.C. VICENTE GUERRERO</ion-select-option>
          <ion-select-option value="13">Alcaldia: IZTAPALAPA - C.B.S.U. JUAN ESCUTIA</ion-select-option>
          <ion-select-option value="21">Alcaldia: IZTAPALAPA - C.D.C. CONSTITUCION DE 1917</ion-select-option>
          <ion-select-option value="18">Alcaldia: COYOACAN - C.D.C. ADOLFO RUIZ CORTINES</ion-select-option>
          <ion-select-option value="10">Alcaldia: MIGUEL HIDALGO - C.B.S.U. ARGENTINA</ion-select-option>
          <ion-select-option value="41">Alcaldia: MIGUEL HIDALGO - C.D.C. XLIX Legislatura</ion-select-option>
          <ion-select-option value="31">Alcaldia: MILPA ALTA - C.D.C. MILPA ALTA</ion-select-option>
          <ion-select-option value="38">Alcaldia: TLAHUAC - C.D.C. TLAHUAC</ion-select-option>
          <ion-select-option value="33">Alcaldia: TLAHUAC - C.D.C. QUETZALCOATL</ion-select-option>
          <ion-select-option value="19">Alcaldia: TLALPAN - C.D.C. AJUSCO TLALPAN</ion-select-option>
          <ion-select-option value="30">Alcaldia: TLALPAN - C.D.C. MIGUEL HIDALGO</ion-select-option>
          <ion-select-option value="59">Alcaldia: TLALPAN - C.F. 19 JUAN A. MATEOS</ion-select-option>
          <ion-select-option value="36">Alcaldia: VENUSTIANO CARRANZA - C.D.C. Rosario Castellanos</ion-select-option>
          <ion-select-option value="17">Alcaldia: VENUSTIANO CARRANZA - C.D.C. ADOLFO LOPEZ MATEOS</ion-select-option>
          <ion-select-option value="39">Alcaldia: VENUSTIANO CARRANZA - C.D.C. VENUSTIANO CARRANZA</ion-select-option>
          <ion-select-option value="42">Alcaldia: XOCHIMILCO - C.D.C. XOCHIMILCO</ion-select-option>
        </ion-select>
      </ion-item>

      <br><br>

      <div class="ion-padding">
        <b style="text-align: justify; font-size: small;" >"Se deberá subir una fotografía, la cual debe ser nítida y clara del documento completo (comprobante de domicilio y constancia escolar vigentes), sin ningún elemento ajeno (mano, dedo, manteles, etc) que modifique o perturbe la imagen.
        </b>
      </div>

      <ion-item>
        <ion-row>
          <p style="text-align: justify;  font-size: small;">Comprobante de domicilio de la Ciudad de México: <b>boleta predial, agua, luz, telefonía fija, gas natural (no comprobante de pago) o constancia de residencia expedida por la alcaldía.</b> Cuya fecha de expedición no sea mayor a tres meses de antigüedad de la fecha de facturación del documento.</p>
          <ion-col size="6">
            <ion-button shape="round" (click)="fotoComprobante()">
              <ion-icon slot="start" name="camera"></ion-icon>Comprobante de Domicilio</ion-button>
          </ion-col>
        </ion-row>
        <ion-card *ngIf="comprobante">
          <ion-card-content>
            <img [src]="comprobante" *ngIf="comprobante">
          </ion-card-content>
        </ion-card>
      </ion-item>
      <br>
      <ion-item>
        <ion-row>
          <p style="text-align: justify;  font-size: small;">Constancia escolar correspondiente al ciclo escolar <b>2022-2023</b>, que incluya CCT,  con fecha de expedición no mayor a 2 meses, firmado y sellado por la autoridad escolar"</p>
          <ion-col size="6">
            <ion-button [disabled]="!comprobante" shape="round" (click)="fotoConstancia()">
              <ion-icon slot="start" name="camera"></ion-icon>Constancia de Estudios</ion-button>
          </ion-col>
        </ion-row>
        <ion-card *ngIf="constancia">
          <ion-card-content>
            <img [src]="constancia" *ngIf="constancia">
          </ion-card-content>
        </ion-card>
      </ion-item>
      <br>
      <div class="container" style="text-align: center;">
        <b>RECUERDA CAPTURAR CORRECTAMENTE Y REVISAR BIEN TODOS LOS DATOS YA QUE AL GUARDAR LA INFORMACIÓN NO PODRÁS CORREGIRLA

        </b>
      </div>
      <br><br><br>

    <ion-button [disabled]="!constancia" type="submit" expand="block">
      Finalizar Renovación
    </ion-button>
  </form>
</ion-content>