<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref ="/leona-tabs"
      class="rojo"
      text="Atrás">
    </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <img src="assets/header_logo.png" height="45">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">

  <h1 class="dorado" style="letter-spacing: 4px;">Contacto</h1>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7528.181677454364!2d-99.158407!3d19.365219!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffb9ba5b33d5%3A0xb7a9b7b9dbe7c02e!2sProl%20Taj%C3%ADn%20965%2C%20Sta%20Cruz%20Atoyac%2C%20Benito%20Ju%C3%A1rez%2C%2003310%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1662060304203!5m2!1ses!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <h2 style="font-size: 1.0rem;">Ubicación: Prolongación Tajín 965, Santa Cruz Atoyac, Benito Juárez</h2>
    <h2 style="font-size: 1.0rem;">Horario de atención: 9:00 a 15:00 horas de lunes a viernes</h2>
    <h2 style="font-size: 1.0rem;">Para cualquier aclaración o consulta no olvides presentar tu carnet del programa</h2>

</div>

</ion-content>
