<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="assets/header_logo.svg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-row>
    <ion-col size="6">
      <ion-button expand="full" shape="round" (click)="foto()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="imagen">
    <ion-card-content>
      <img [src]="imagen" *ngIf="imagen">
    </ion-card-content>
  </ion-card> -->


</ion-content>