<ion-header>
  <br>
  <ion-toolbar>
    <ion-title class="dorado">Atenciones Integrales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-app>
  <br><br><br><br>
  <ion-content class="ion-padding">
    <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img2.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img1.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img3.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img4.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img5.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img6.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img7.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img8.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img9.jpeg" />
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../../assets/img10.jpeg"/>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="container-fluid px-md-5 px-0 pt-4" style="text-align: justify;">
      <h2 style="font-size: 1.0rem;">El Programa “Beca Leona Vicario” ofrece un Modelo de Atención Integral a
          partir de talleres, pláticas temáticas, actividades culturales y recreativas, servicios de salud,
          entre otros, que pretende garantizar los derechos humanos de las niñas y los niños e incidir en la
          reconstrucción de los lazos familiares y comunitarios desde una perspectiva de género, igualdad, no
          discriminación, derechos humanos y conciencia ambiental.
      </h2>
      <h2 style="font-size: 1.0rem;">
          Te invitamos a que conozcas nuestra oferta de servicios gratuitos aquí
      </h2>
      <h2 style="font-size: 1.0rem;">
          -Atención psicológica
      </h2>

      <h2 style="font-size: 1.0rem;">
          -Atención odontológica de primer nivel
      </h2>

      <h2 style="font-size: 1.0rem;">
          -Atención médica de primer nivel
      </h2>

      <h2 style="font-size: 1.0rem;">
          -Asesoría jurídica en materia familiar
      </h2>

      <h2 style="font-size: 1.0rem;">
          -Comedores Populares para el Bienestar
      </h2>

      <h2 style="font-size: 1.0rem;">
          Informes:
      </h2>

      <h2 style="font-size: 1.0rem;">
          Tel. 55-31-11-76-77
      </h2>

      <h2 style="font-size: 1.0rem;">
          Telegram: <a href="https://t.me/+6eciTU8c3Iw3YTJh"
              style="color: #99171e;">https://t.me/+6eciTU8c3Iw3YTJh</a>
      </h2>


  </div>

  <div class="container-fluid px-md-5 px-0 pt-4" style="text-align: center;">
    <a href="https://t.me/+6eciTU8c3Iw3YTJh"><img src="../../../assets/qrleona.png"></a>
</div>

  </ion-content>
</ion-app>
