<ion-header>
  <!-- <ion-toolbar>
    <ion-title>leona-perfil</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label>
      <h1 style="font-weight: bold; font-size: larger; color: #99171e;" >{{tutor}}<p style="font-size: smaller; text-align: left; color: black; font-weight: lighter;">Tutor</p></h1>
    </ion-label>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let user of usuarios">
      <ion-label>
        <h2 style="font-weight: 600; color:#d09c4e;">{{user.nombre}} {{user.apellido_paterno}} {{user.apellido_materno}}</h2>
        <h3>IDP: {{user.idp}}</h3>
        <p>{{user.baja}}</p>
        <p></p>
      </ion-label> 
      <ion-label slot="end" class="slot-text-end">  </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-button (click)="carga()"> Click </ion-button>
  <ion-button color="danger" expand="block">Iniciar Sesión</ion-button> -->
</ion-content>
