<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-avatar>
              <ion-img src="assets/midifmovil.png" ></ion-img>
            </ion-avatar>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">

            <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
              <ion-icon slot="start" [name]="'home'" class="rojo"></ion-icon>
              <ion-label>
                Inicio
              </ion-label>
            </ion-item>

            <ion-item [routerDirection]="'root'" [routerLink]="'/redes'">
              <ion-icon slot="start" [name]="'globe-outline'" class="rojo"></ion-icon>
              <ion-label class="rojo">
                Redes Sociales
              </ion-label>
            </ion-item>

            <!-- <ion-item [routerDirection]="'root'" [routerLink]="'/listado'">
              <ion-icon slot="start" [name]="'list'" class="rojo"></ion-icon>
              <ion-label class="rojo">
                Programas
              </ion-label>
            </ion-item> -->

          </ion-menu-toggle>
        </ion-list>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <ion-button  size="small" (click)="logout()" color="primary" style="margin-left: 20px;"> Cerrar Sesión
          <!-- [disabled]="!logeado" -->
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>