<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref ="/"
      class="rojo">
    </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <ion-title class="dorado" style="text-align: center;">Redes Sociales</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ion-list>
        <ion-item detail href="http://facebook.com/DIFCDMX"> 
          <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
          Facebook
        </ion-item>
        <ion-item detail href="https://twitter.com/difcdmx">
          <ion-icon name="logo-twitter" slot="start" class="t"></ion-icon>
          Twitter
        </ion-item>
        <ion-item detail href="https://twitter.com/difcdmx">
          <ion-icon name="logo-instagram" slot="start" class="i"></ion-icon>
          Instagram
        </ion-item>
        <ion-item detail href="https://www.youtube.com/user/DIFMEXICO">
          <ion-icon name="logo-youtube" slot="start" class="y"></ion-icon>
          Youtube
        </ion-item>
      </ion-list>
</ion-content>