<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="rojo"></ion-menu-button>
      </ion-buttons>     
      <ion-title style="text-align: center;">
        <img src="assets/header_logo.svg">
      </ion-title>
    </ion-toolbar>

</ion-header>


<ion-content>
  
  <h1 style="text-align:center; margin-top: 350px ;">¡Hola!</h1>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="leona-notificaciones">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
         <ion-badge color="secondary">1</ion-badge> 
      </ion-tab-button>

      <ion-tab-button tab="leona-perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="leona-renovacion">
        <ion-icon name="document-attach-outline"></ion-icon>
        <ion-label>Renovación</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="leona-atenciones">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-label>Atenciones</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>