<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="assets/header_logo.png" height="45">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <!--ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card -->

  <ion-card>
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <img src="../../assets/midifmovil.png" width="80" height="80" alt="mdm_logo">
      <ion-label style="text-align:center;">
        <h1 style="color: #bc955c; letter-spacing: 4px; font-size: 28px;">Servicios</h1>
      </ion-label>
      <p>&nbsp;</p>
      <!-- <ion-button fill="outline" slot="end">Ayuda</ion-button> -->
    </ion-item>

    <ion-card-content>
      <h5 style=" color:#99171e; letter-spacing: 0px; font-size: medium;"></h5>
      <h5 style=" color:#99171e; font-weight: 600; font-size: medium;">Da click en alguno de nuestros servicios para obtener más información.</h5>
    </ion-card-content>
  </ion-card>




  <div style="min-height: 100vh;margin-top: 85px; text-align: center;">
    <br>
    <ion-button type="button" style="width: 140px; height: 160px;" color="light" href="/leona">
      <img src="../../assets/leona.png">
    </ion-button>
    <!-- <ion-button type="button" style="width: 120px; height: 140px;" color="light">
      <img src="../../assets/comedores.png">
    </ion-button>
    <br>
    <br>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light" href="/centros">
      <img src="../../assets/centros.png">
    </ion-button>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light">
      <img src="../../assets/alimentos.png">
    </ion-button> -->

    <!-- <br><br><br><br><br><br><br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Atención ciudadana</ion-card-title>\
        <ion-card-subtitle>
          Dirección: Avenida San Francisco 1374
          Colonia Tlacoquemécatl, Alcaldía Benito Juárez C.P. 03200, Ciudad de México
          Teléfono:
          55591919
          Correo electrónico: http://www.cdmx.gob.mx/atencion-ciudadana-jefatura
          <br>
          Dirección: Avenida Popocatépetl 236
          Colonia Santa Cruz Atoyac, Alcaldía Benito Juárez C.P. 03310, Ciudad de México
          Teléfono:
          56040127
          Correo electrónico: http://www.cdmx.gob.mx/atencion-ciudadana-jefatura
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card> -->

  </div>
</ion-content>