<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="rojo"></ion-menu-button>
    </ion-buttons>     
    <ion-title style="text-align: center;">
      <img src="assets/header_logo.png" >
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true" class="background">
  <div style="min-height: 100vh;margin-top: 85px; text-align: center;">
    <ion-text>
      <h1 style=" color: #bc955c; letter-spacing: 4px;">Servicios</h1>
    </ion-text>
  
    <ion-text>
      <h5 style=" color: #99171e; letter-spacing: 0px;">Da clic en cualquiera</h5>
      <h5 style=" color: #99171e; letter-spacing: 0px;">de nuestros servicios para más información</h5>
    </ion-text>
    <br>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light" href="/leona">
      <img src="../../assets/leona.png">
    </ion-button>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light">
      <img src="../../assets/comedores.png">
    </ion-button>
    <br>
    <br>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light" href="/centros">
      <img src="../../assets/centros.png">
    </ion-button>
    <ion-button type="button" style="width: 120px; height: 140px;" color="light">
      <img src="../../assets/alimentos.png">
    </ion-button>
  </div>
</ion-content>